{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <h1>S'enregistrer</h1>

    {{ form_errors(registrationForm) }}
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-5">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}
                <button type="submit" class="btn btn-primary mt-4">Créer mon compte</button>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
