{% extends 'base.html.twig' %}

{% block title %}Musique{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Les groupes</h1>
        {% if app.user %}
            <a href="{{ path('app_band_new') }}" class="dashboard"><i class="bi bi-plus-circle"></i></a>
        {% endif %}
    </header>
    
    <main class="container containerBand">
    {% for band in bands %}
        <div class="card cardBand" style="max-width: 24rem;">
            {% if band.picture %}
                <img src="{{ band.picture }}" title="{{ band.name }}" class="card-img-top" alt="Image de {{ band.name }}">
            {% else %} 
                <img src="{{ asset('asset/img/bandDefault.jpg') }}" title="Image de concert" class="card-img-top" alt="Image de concert">
            {% endif %}
            <div class="card-body text-center">
                <a href="{{ path('app_band_show', {'id': band.id}) }}"><h5 class="card-title">{{ band.name|title }}</h5></a>
            </div>
        </div>
        {% else %}
            <p class="text-center">Aucun groupe trouvé...</p>
        {% endfor %}
    </main>

{% endblock %}
