{% extends 'base.html.twig' %}

{% block title %}Band{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>{{ band.name }}</h1>
        {% if app.user %}
            <div class="dashboard">
                <a href="{{ path('app_band_index') }}"><i class="bi bi-backspace-fill"></i></a>

                <a href="{{ path('app_band_edit', {'id': band.id}) }}"><i class="bi bi-pencil-square"></i></a>

                {{ include('band/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </header>

    <main id="bandPage">
        <div id="bandInfos">
            <div>
                <div>
                    <h3>Année de création :</h3>
                    {% if band.creationYear %}
                        <p>{{ band.creationYear }}</p>
                    {% else %}
                        <p>Donnée non renseignée...</p>
                    {% endif %}
                </div>
                
                <div class="mt-4">
                    <h3>Pays :</h3>
                    {% if band.country %}
                        <p>{{ band.country }}</p>
                    {% else %}
                        <p>Donnée non renseignée...</p>
                    {% endif %}
                </div>
                
                <div class="mt-4">
                    <h3>Style de métal :</h3>
                    {% if band.kindOfMetal %}
                        <p>{{ band.kindOfMetal|capitalize}}</p>
                    {% else %}
                        <p>Donnée non renseignée...</p>
                    {% endif %}
                </div>

                <div class="mt-4">
                    <h3>Discographie :</h3>
                    {% if band.albums %}
                        {% for albums in band.albums %}
                            <ul>
                                <li><a href="{{ path('app_album_show', {'id': albums.id }) }}">{{ albums.title|title }}</a>, {{ albums.releasedYear}}</li>
                            </ul>
                        {% else %}
                            <p>Donnée non renseignée...</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="mx-5">
                {% if band.picture %}
                    <img src="{{ band.picture }}" class="bandImg" alt="image du groupe">
                {% else %}
                    <img src="{{ asset('asset/img/bandDefault.jpg') }}" alt="image du groupe" class="fakeImgBand">
                {% endif %}
            </div>

        </div>

        <div class="mt-5 similarBandsDiv">
            <h2 class="mb-3">Vous aimerez peut-être:</h2>
            {% for allBand in allBands %}
            <div class="similarBands">
                {% if allBand.kindOfMetal is same as(bandKindOfMetal) and allBand.name is not same as(band.name) %}
                    {% if allBand.picture %}
                        <img src="{{ allBand.picture }}" class="bandImgSimilar" alt="image du groupe {{ allBand.name }}">
                    {% else %} 
                        <img src="{{ asset('asset/img/bandDefault.jpg') }}" title="Image de concert" class="bandImgSimilar" alt="Image de concert">
                    {% endif %}
                    {# <p>{{ allBand.name|title }}</p> #}
                    <p><a href="{{ path('app_band_show', {'id': allBand.id }) }}">{{ allBand.name|title }}</a></p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
