{% extends 'base.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Bibliothèque</h1>
        {% if app.user %}
            <a href="{{ path('app_book_new') }}" class="dashboard"><i class="bi bi-plus-circle"></i></a>
        {% endif %}
    </header>
    
    <main class="container">
    {% for book in books %}
        <div class="card" style="max-width: 24rem;">
            {% if book.bookCover %}
                <img src="{{ book.bookCover }}" title="{{ book.title }}" class="card-img-top" alt="Image de {{ book.title }}">
            {% else %} 
                <img src="{{ asset('asset/img/bookDefault.png') }}" title="Image de livres" class="card-img-top" alt="Couverture de {{ book.title }}">
            {% endif %}
            <div class="card-body text-center">
                <a href="{{ path('app_book_show', {'id': book.id}) }}"><h5 class="card-title">{{ book.title }}</h5></a>
            
            </div>
        </div>
        {% else %}
            <p class="text-center">Aucun livre trouvé...</p>
        {% endfor %}
    </main>

{% endblock %}
