{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>Les auteurs</h1>
        {% if app.user %}
            <a href="{{ path('app_writer_new') }}" class="dashboard"><i class="bi bi-plus-circle"></i></a>
        {% endif %}
    </header>

    <main class="container containerWriter">
    {% for writer in writers %}
        <div class="card cardWriter">
            {% if writer.picture %}
                <img src="{{ writer.picture }}" title="{{ writer.lastname }}" class="card-img-top" alt="Image de {{ writer.lastname }}">
            {% else %} 
                <img src="{{ asset('asset/img/writerDefault.png') }}" title="Image de concert" class="card-img-top" alt="Image de concert">
            {% endif %}
            <div class="card-body text-center">
                <a href="{{ path('app_writer_show', {'id': writer.id}) }}"><h5 class="card-title">{{ writer.firstname|capitalize ~ ' ' ~ writer.lastname|capitalize }}</h5></a>
            
            </div>
        </div>
        {% else %}
            <p class="text-center">Aucun auteur trouvé...</p>
        {% endfor %}
    </main>
{% include 'footer.html.twig' %}
{% endblock %}
