{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <header>
        <h1>{{ writer.firstname|capitalize ~ ' ' ~ writer.lastname|capitalize }}</h1>
        {% if app.user %}
            <div class="dashboard">
                <a href="{{ path('app_writer_index') }}"><i class="bi bi-backspace-fill"></i></a>

                <a href="{{ path('app_writer_edit', {'id': writer.id}) }}"><i class="bi bi-pencil-square"></i></a>

                {{ include('writer/_delete_form.html.twig') }}
            </div>
        {% endif %} 
    </header>
    
    <main id="writerPage">
        <div id="writerInfos">
            <div class="my-4">
                {% if writer.picture %}
                    <img src="{{ writer.picture }}" class="writerImg" alt="Photo de {{ writer.firstname ~ ' ' ~ writer.lastname }}">
                {% else %}
                    <img src="{{ asset('asset/img/writerDefault.png') }}" alt="Image de remplacement de l'auteur" class="fakeImgWriter">
                {% endif %}
            </div>
            <div>
                <div class="mt-4">
                    <h3>Pays :</h3>
                    <p>{{ writer.country|capitalize}}</p>
                </div>

                <div class="mt-4">
                    <h3>Bibliographie :</h3>
                    {% if writer.books %}
                        {% for books in writer.books %}
                                <ul>
                                    <li><a href="{{ path('app_book_show', {'id': books.id }) }}">{{ books.title|title }}</a></li>
                                </ul>
                            {% else %}
                                <p>Donnée non renseignée... </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>    
{% endblock %}
