<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        {# <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
        </div> #}

        <ul class="nav col-6 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ path('app_home') }}" class="nav-link px-2">Accueil</a></li>
            <li><a href="{{ path('app_reading') }}" class="nav-link px-2">Bibliothèque</a></li>
            <li><a href="{{ path('app_music') }}" class="nav-link px-2">CDthèque</a></li>
        </ul>

        
        <div class="col-md-3 text-end navbarEnd">
            <form action="{{ path('search-result')}}">
                <input name="search" id="search" class="search" type="text" placeholder="Rechercher" title="Rechercher">
                <button type="submit" id="go" title="Go"><i class="bi bi-search"></i></button>
            </form>
           
           <div id="btn-log">
                {% if not app.user %}
                    <a href="{{ path('app_login') }}" type="button" class="btn btn-outline-primary me-2 px-2"><i class="bi bi-box-arrow-in-right"></i></a>
                {% endif %}
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" type="button" class="btn btn-outline-primary me-2 px-2"><i class="bi bi-box-arrow-in-left"></i></a>
                {% endif %}
           </div>
            {# <button type="button" class="btn btn-primary">Sign-up</button> #}
        </div>
    </header>
  </div>